.one{
    display: flexbox;
    width: 400px;
    float: left;
    height: 640px;
    position: relative;
    background-color:teal;
    gap: 20px;
    
    

    
}
.siya{
    width: 400px;
    float: right;
}
.two{
    display:flexbox;
    background-color:darkolivegreen;
    width: 400px;
    float:left;
    position: relative;
    left: 20px;
   
}
.three{
    display: flexbox;
    background-color:indianred ;
    width: 400px;
    height: 179px;
    float:left;
    position: relative;
    top: 20px;
    left: 20px;
    
}