p{
    background-color: rgb(168, 168, 216);
}
body{
    background-color: rgb(240, 240, 122);
}
h1{
    background-color: rgb(247, 238, 228);
    text-transform: capitalize;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
    color: black;
    
    
}
.box {
    width: 90%;
    margin-left: 0%;
    margin-top: 100px;
    color: black;
    font-family: monospace;
    text-align: center;

}
.green{
    border: 3px solid black;
    width: 75%;
}
