body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: powderblue;

}
.image-container{
    text-align: center;

}
.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba black;
    background-color: rgb(41, 133, 133);
    width: 300px;
    height: 300px;
}
.btn{
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    cursor: pointer;

}
.btn:hover{
    opacity: 0.9;
}


